<div class="container">
  <div class="form-width">
    <h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipcode %>
  
  <%= f.input :email, input_html: { autocomplete: 'email' }, hint: "Enter your email" %>
    <%= f.input :password, input_html: { autocomplete: 'current-password' } %>
    
    <%= f.input :password_confirmation, hint: "Type the same password as above." %>
    
  
    <%= f.button :submit, "Sign up", class: "btn-primary" %>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>